vaadin-scroller[slot="drawer"] {
    padding: var(--lumo-space-s);

}
#drawer {
    background-color: #66878840;
}
.bg-warning {
    background-color: yellow;
}
.bg-success {
    background-color: blue;
}
.bg-dangerous {
    background-color: red;
}
[slot="drawer"]:is(header, footer) {
    display: flex;
    align-items: center;
    gap: var(--lumo-space-s);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    min-height: var(--lumo-size-xl);
    box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
    display: block;

}
vaadin-vertical-layout {
    position: relative;
    z-index: 1;
}
vaadin-app-layout::part(drawer){
background-color:#326F70;
}
vaadin-drawer-toggle::part(icon){
color:#326F70;
}
vcf-nav  {
color:white;
}

vcf-nav-item::part(toggle-button){
color:white !important;
}

vcf-nav-item::part(item):active{
font-size: 16px;
}
vaadin-button {
color:white !important;
background-color:#326F70 !important;
}
@media (min-width: 1001px) and (max-width : 1440px) {
    vcf-nav-item {
        padding-bottom: 5px;
    }
}
@media (min-width: 310px) and (max-width : 1000px) {
    vcf-nav-item {
        padding-bottom: 9px;
    }
}
@media (min-width: 1441px){
    vcf-nav-item {
        padding-bottom: 9px;
    }
}
vaadin-horizontal-layout.aat-toolbar {
    margin-bottom: -7px !important;
}

html {
    --lumo-primary-text-color: hsl(214, 5%, 5%);
    --lumo-secondary-text-color: hsl(214, 0%, 0%);
    --lumo-button-background-color: hsl(180.97deg 38.27% 31.76%);
    --_lumo-button-background-color: hsl(180.97deg 38.27% 31.76%);
    --lumo-body-text-color:hsl(214, 0%, 0%);
    --lumo-header-text-color:hsl(214, 0%, 0%);
}

vcf-nav vcf-nav-item[active] {
    font-weight: bold !important;
}

.link-button {
    color: #306c6f !important;
}

.link-button:focus,
.link-button:hover {
    color: var(--lumo-header-text-color);
}

#app-nav-label-0 {
	font-size: larger;
	font-weight: bold;
	color: white;
}
