.grid.scheduler-grid .hidden-input:checked~.custom-input {
    border: 2px solid #326f70;
}

.grid.scheduler-grid th .hidden-input:checked~.custom-input {
    border: 2px solid white;
}
@media (max-width: 800px) {
    .grid.scheduler-grid {
        width: 800px !important;
        height: calc(100vh - 270px) !important;
        overflow: scroll;
    }
    .grid.scheduler-grid .tui-grid-content-area {
        min-height: calc(100vh - 270px);
    }
    vaadin-app-layout {
        padding-right: 15px;
    }
}
.grid.scheduler-grid .tui-grid-lside-area, .grid.scheduler-grid .tui-grid-body-area, .grid.scheduler-grid .tui-grid-content-area, .grid.scheduler-grid .tui-grid-layer-state  {
    z-index: 0 !important;
}

@media (min-width: 801px) {
.grid.scheduler-grid .tui-grid-content-area, .grid.scheduler-grid .tui-grid-container .tui-grid-content-area {
     min-height: calc(97vh - 270px);
 }
}

.signature-container-grid {
   text-align: center !important;
   background-color: white !important;
}

vaadin-multi-select-combo-box, vaadin-combo-box
{
    --lumo-text-field-size: var(--lumo-size-s);
    --lumo-button-size: var(--lumo-size-s);
     font-size: 10px;
}

vaadin-multi-select-combo-box-chip {
	background: white;
}

vaadin-multi-select-combo-box-overlay vaadin-multi-select-combo-box-item {
    height: 9px;
    line-height: 9px;
    padding: 0px;
    font-size: 10px;
    gap: 1px;
}

vaadin-date-picker, vaadin-date-time-picker,
vaadin-button, vaadin-time-picker, vaadin-multi-select-combo-box-chip,
vaadin-horizontal-layout, .vis-text  {
    --lumo-text-field-size: var(--lumo-size-s);
    --lumo-button-size: var(--lumo-size-s);
    --vaadin-input-field-background :  var(--lumo-contrast-5pct);
     font-size: 10px;
}

vaadin-vertical-layout {
    gap: var(--lumo-space-xs);
}
