.timeline .vis-item {
    z-index: 2;
}


.timeline .vis-timeline {
	overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-center {
	overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-item .vis-onUpdateTime-tooltip{
	width: auto;
}

.timeline {
    //display: none;
}

.vis-label {
	min-width: 100px;
	position: relative;
}

.vis-item {
  height:12px;
  font-size:8px;
}

.vis-item-content {
    padding: 0px !important;
}

.vis-label .vis-inner {
  height: 10px;
  font-size: 10px;
  color: black;

}

.vis-labelset .vis-label:last-child {
	border-bottom: 1px solid #bfbfbf !important;
}

.vis-panel.vis-left {
	background: gray;
}

.vis-foreground .vis-group:last-child {
	border-bottom: 1px solid #bfbfbf !important;
}

.vis-label.vis-group-selected .vis-inner {
	color: black;
	font-weight : bold;
}

.coach-owned, .coach-hired, .coach-unassigned, .emp-unassigned, .emp-permanent {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

.vis-label.vis-group-level-0.emp-unassigned,
.vis-label.vis-group-level-0.coach-unassigned {
	background: darkcyan;
}

.vis-label.vis-group-level-0.emp-permanent,
.vis-label.vis-group-level-0.coach-owned {
	background: lightgray;
}

.vis-label.vis-group-level-0.coach-hired {
	background: beige;

}

vaadin-drawer-toggle {
    font-size: var(--lumo-icon-size-s);
    width: var(--lumo-size-s);
    height: var(--lumo-size-s);
}


vaadin-app-layout::part(navbar) {
    min-height: var(--lumo-size-s);
}
.vis-label .icon-collapsed, .vis-label .icon-expanded {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 98%;
    color: white;
}

/** make text bolder and remove border  **/
.timeline .vis-item.vis-selected {
   font-weight: bolder;
   border-color: black;
   border: none;
   background: black !important;
   color: white;
}

.vis-label.vis-group-selected {
}
